
* {
    box-sizing: border-box; }
*:before {
    box-sizing: border-box; }
*:after {
    box-sizing: border-box; }

@charset "UTF-8";


/*Общее*/


body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    background-color: #849d8f;
}

img{
    max-width: 100%;
    height: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bgr{

}

.wrapper{
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    padding: 0 2.3%;
}

/*Хедер*/

.main-header{}

.main-header__logo-img{
    float: left;
    margin-left: -8px;
    margin-top: 10px;
}

.main-navigation{
    float: left;
    width: 355px;
    margin-top: 29px;
}

.main-navigation__list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
    margin-left: 25px;
}

.main-navigation__item{
    display: inline-block;
    vertical-align: top;
    text-align: left;

    margin-right: 27px;
    padding: 0;
}

.main-navigation__item:last-child{
    margin-right: 0;
}

.main-navigation__link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

.sub-menu{
    display: none;
    position: absolute;
    font-size: 16px;
    line-height: 23px;
}


.sub-menu__item{

}

.sub-menu__link{
    text-decoration: none;
}

.sub-menu__link--current{

}

.main-navigation__item--sub-menu:hover .sub-menu{
    display: block;
}

.main-navigation__item{}

.user-block{
    float: right;
    position: relative;
    font-size: 0;
    width: 267px;
    margin-top: 10px;

}
.user-block__btn{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 9px 15px;
}


.search-form{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
    margin-left: 5px;
}

.search-form__box{
    display: none;
    font-size: 14px;
    position: absolute;
}
.search-form:hover  .search-form__box{
    display: block;
}

.search-form__field{}

/*Кнопки*/
.btn{
    background-color: #f06240;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(to top, #e84c36, #f26743);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.btn--extra-small{
    padding-left: 22px;
    padding-top: 10px;
    padding-right: 21px;
    padding-bottom: 10px;
    width: 163px;
}

.btn--small{
    padding-left: 22px;
    padding-top: 15px;
    padding-right: 22px;
    padding-bottom: 15px;
    max-width: 163px;
}
.btn--little{
    padding-left: 24px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    max-width: 190px;
}
.btn--medium{
    padding-left: 28px;
    padding-top: 11px;
    padding-right: 28px;
    padding-bottom: 10px;
    width: 195px;
}
.btn--large{
    padding-left: 32px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    width: 255px;
    font-size: 17px;
    margin-top: 20px;
}
.btn--extra-large{
    padding-left: 40px;
    padding-top: 18px;
    padding-right: 40px;
    padding-bottom: 18px;
    width: 280px;
    font-size: 31.48px;
    border-radius: 50px;
}


.user-block__btn--search{
    padding: 0px;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    border-radius: 50%;
}

.user-block__btn--login{
    padding-left: 43px;
    width: 93px;
    background-image: url(../img/login-icon.svg);
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 21px;
}

.login-form{
    display: none;
    position: absolute;
    font-size: 14px;
}

.user-block__btn--login:hover + .login-form{
    display: block;

}

.login-form__field{}
.login-form__btn-enter{}
.login-form__links{}

.user-block__btn--shopping-cart{
    padding-left: 45px;
    margin-right: 0;
    width: 117px;
    background-image: url(../img/basket-icon.svg);
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 21px;
}
.shopping-form{
    display: none;
    font-size: 14px;
}
.shopping-form__td{}
.btn-delete{}

.user-block__btn--shopping-cart:hover + .shopping-form{
    display: block;
    position: absolute;
}


.store-info{}
.store-info__hours{}
.store-info__telephone{}



/*Главная страница*/
.slider-input{}{}
.toggle{}
.slider{}
.slider-controls{}
.slider-controls__label{}
.slider-inner{}
.slides{}
.slides-item{}
.slides-item__text{}
.slides-item__title{}



.slides-item__title{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

.banner__title{
    font-size: 35px;
    line-height: 2px;
    font-weight: 700;
    color: #fff;
}

.banners{}
.banner{
    width: 48.8469%;
    padding: 23px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banners__left{
    float: left;
    background-image: url(../img/rasberry-bgr.jpg);
    background-color: #ab0a3c;
}

.banners__right{
    float: right;
    background-image: url(../img/chocolate-bgr.jpg);
    background-color: #734425;

}
.banner__text{
    font-size: 18px;
    margin-bottom: 44px;
}

.banner__btn{
    text-align: right;
}

.about{
    background-color: #efe3c7;
    background-image: url(../img/wafer-bgr.jpg);
    color: #323232;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 0;
    margin-top: 38px;
}
.about__title{
    font-size: 24px;
    line-height: 30px;
}
.about__paragraph{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    width: 42.3654%;
    margin-left: 55px;
}
.about__paragraph:nth-child(2n+3){
    margin-right: 0;
}

.blog{
    float: left;
    width: 48.8469%;
    padding-top: 4px;
    padding-left: 20px;
    padding-bottom: 85px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/blog-bgr.jpg);
    background-position: center;
    background-size: cover;
    background-color: #fff;
    text-align: left;
}
.blog__introduction{
    font-size: 16px;
    color: #323232;
}

.blog__new-post{
    font-size: 24px;
    color: #353535;
    font-weight: 700;
}

.subscription{
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 48.8469%;
    padding: 25px 20px;
    background-color: #f8f7f4;
    color: #5a5a5a;
}

.subscription__text{
    font-size: 16px;
    line-height: 22px;
}
.subscription-form{}
.subscription-form__field{
    padding: 13px;
    width: 370px;
    margin-right: 10px;
}


/*Каталог*/
.breadcrumbs{
    list-style: none;
    font-size: 0;
    padding: 0;

}

.breadcrumbs__item{
    display: inline-block;
    vertical-align: top;
    text-align: left;

    margin-right: 8px;
    font-size: 14px;
    color: #fff;
}
.breadcrumbs__link{
    text-decoration: none;
    margin: 0;
    color: #fff;
}

.breadcrumbs__item:after{
    content: '»'
}

.breadcrumbs__item--current{}

.breadcrumbs__item--current:after{
    content: none;
}

.page-title{
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.filters{
    font-size: 0;
}
.filter{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 15px;
    font-size: 16px;

}
.filter__title{
    font-size: 14px;
}
.filter__sorting-select{
    width: 195px;
}

.filter-select select,
.filter__list{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 9px 15px;
}
.filter__list-radio{
    /*пока просто для наглядеости*/
    width: 420px;
}
.filter__list-checkbox{
    width: 703px;
}

.filter-select__btn{

}
.price-controls{
    width: 220px;
}
.filters__scale{}
.filters__bar{}
.filters__toggle{}
.filters__toggle--min{}
.filters__input-radio{}
.filters__input-checkbox{}
.filters__btn-submit{
    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    margin-top: 20px;
    padding: 9px 15px;
}

.catalog-list{
    font-size: 0px;

}

.catalog-item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 23.2704%;
    margin-right: 1.95%;
    margin-top: 40px;
}

.catalog-item:nth-child(4n){
    margin-right: 0;
}

.catalog-item:hover {
    background-color: rgba(248,247,244,.3);

}

.catalog-item__hit-label{}

.catalog-item__img{
    position: relative;
}



.catalog-item__img img{
    border-radius: 50%;

}

.catalog-item__price{
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 40px;
    color: #fff;
}
.ruble{
    width: 31px;
    height: 36px;
    display: inline-block;
    line-height: 0;

    /*Для наглядности, при верстке декоративных элементов заменю на иконочный шрифт*/
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.catalog-item__description{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    min-height: 40px;
}

.catalog-item__btn{
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 22px;
    z-index: 20;
    display: none;
}

.catalog-item:hover .catalog-item__btn{
    background-color: rgba(248, 247, 244, .3);
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    display: block;

}

.pagination{
    text-align: right;
    margin-top: 75px;
}
.pagination__btn-prev{

}
.disabled{}
.pagination__btn{}
.pagination__btn--active{}
.pagination__btn-next{}


/*Футер*/


.main-footer{}
.footer-map{
    width:100%;
    height: 430px;
    margin: 0;
    background: url("../img/map-img.jpg");
    background-size: cover;
    position: relative;
}
.footer-contacts{
    background-color: #fdfefe;
    color: #343434;
    position: absolute;
    right: 2.2%;
    top: 67px;
    width: 303px;
    padding-left: 25px;
    padding-top: 14px;
    padding-right: 25px;
    padding-bottom: 29px;
}
.footer-contacts__text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;

}
.footer-contacts__info{
    margin-top: 0px;
    font-size: 18px;
    line-height: 24px;
}
.footer-links{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.footer-links__social{
    float: left;
    width: 23.2704%;
    margin-right: 1.95%;
}
.social-icon{
    background-image: url("../img/spritesheet-social.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 12px;
}
.social-icon:nth-child(4n){
    margin-right: 0px;
}

.social-icon--twitter{
    width: 33px;
    height: 32px;
    background-position: -5px -47px;
}
.social-icon--instagram{
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}
.social-icon--facebook{
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}
.social-icon--vk{
    width: 32px;
    height: 32px;
    background-position: -48px -47px;
}

.footer-links__documents{
    float: left;
    width: 48.8469%;
    margin: 0;
    padding-left: 10%;
    font-size: 13px;

}
.main-footer a{
    text-decoration: none;
    color: #fff;
}
.footer-links__documents-left{
    float: left;
    width: 114px;
}

.providers{
    font-weight: 700;
}

.footer-links__documents-right{
    float: left;
    width: 166px;
    margin-left: 33px;
}
.copyright{
    float: right;
    width: 23.2704%;
    margin-left: 1.95%;
    font-size: 12px;
    text-align: left;
}

/* Всплывающее окно */
.popup{
    display: none;
}
.popup__title{}
.btn-delete{}
.btn-delete--large{}
.popup__field{}
.popup__text{}
