
* {
    box-sizing: border-box; }
*:before {
    box-sizing: border-box; }
*:after {
    box-sizing: border-box; }

@charset "UTF-8";


/*Общее*/


body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    background-color: #849d8f;


}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.background{

}

.wrapper{
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
    padding: 0 2.3%;
}

/*Хедер*/

.main-header{}

.main-header__logo-img{
    float: left;
    margin-left: -8px;
}

.main-navigation{
    float: left;

}
.main-navigation__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation__item{
    display: inline-block;
    margin: 0;
    padding: 0;

}
.main-navigation__link{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.sub-menu{
    display: none;
    position: absolute;
}


.sub-menu__item{

}

.sub-menu__link{
    text-decoration: none;
}

.sub-menu__link--current{

}

.main-navigation__item--sub-menu:hover .sub-menu{
    display: block;
}

.main-navigation__item{}

.user-block{
    float: right;
    position: relative;
}

.search-form{}
.search-form__box{
    display: none;
    position: absolute;
}
.search-form:hover .search-form__box{
    display: block;

}

.search-form__field{}
.btn{}
.search-form__btn{}

.login{
}

.login-form{
    display: none;
    position: absolute;
}

.login:hover + .login-form{
    display: block;

}

.login-form__field{}
.login-form__btn-enter{}
.login-form__links{}

.shopping-cart{}
.shopping-form{
    display: none;
}
.shopping-form__td{}
.btn-delete{}
.btn-medium{}

.shopping-cart:hover + .shopping-form{
    display: block;
    position: absolute;
}


.store-info{}
.store-info__hours{}
.store-info__telephone{}



/*Главная страница*/
.slider-input{}{}
.toggle{}
.slider{}
.slider-controls{}
.slider-controls__label{}
.slider-inner{}
.slides{}
.slides-item{}
.slides-item__text{}
.slides-item__title{}
.btn--large{}


.slides-item__title{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

.banner__title{
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.banners{}
.banner{}
.banners__left{}
.banner__text{}

.about{}
.about__title{}
.about__paragraph{}

.blog{}
.blog__introduction{}
.blog__new-post{}

.subscription{}
.blog__new-post{}

.subscription{}
.subscription__text{}
.subscription-form{}
.subscription-form__field{}


/*Каталог*/
.breadcrumbs{}
.breadcrumbs__item{}
.breadcrumbs__item--current{}

.page-title{
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.filters{}
.filter{}
.filter__title{}
.filter__sorting-select{}
.filter-select{}
.filter-select__btn{}
.price-controls{}
.filters__scale{}
.filters__bar{}
.filters__toggle{}
.filters__toggle--min{}
.filters__input-radio{}
.filters__input-checkbox{}
.filters__btn-submit{}

.catalog-list{}
.catalog-item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 23.2704%;
    margin-right: 1.9594%;
}

.catalog-item:nth-child(4n){
    margin-right: 0;
}
.catalog-item__hit-label{}
.catalog-item__img{}


.catalog-item__img img{
    border-radius: 50%;


}

.catalog-item__price{}
.ruble{}
.catalog-item__description{}
.btn--medium{}

.pagination{}
.pagination__btn-prev{}
.disabled{}
.pagination__btn{}
.pagination__btn--active{}
.pagination__btn-next{}


/*Футер*/


.main-footer{}
.footer-map{}
.footer-contacts{}
.footer-contacts__text{}
.footer-contacts__info{}
.footer-links{}
.footer-links__social{}
.social-icon{}
.social-icon--twitter{}
.social-icon--instagram{}
.social-icon--facebook{}
.social-icon--vk{}
.footer-links__documents{}
.footer-links__documents-left{}
.providers{}
.footer-links__documents-right{}
.copyright{}

/* Всплывающее окно */
.popup{}
.popup__title{}
.btn-delete{}
.btn-delete--large{}
.popup__field{}
.popup__text{}
